<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{name}}的观影列表</title>
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  </head>
  <body>
    <h2>
      <img src="{{url_for('static',filename='images/girl.jpg')}}" alt="girl" class="girl"><br>
      {{name}}的观影列表
    </h2>
    <p>{{movies|length}}影名</p>
    <ul class="movie-list">
      {% for movie in movies %}
      <li>{{movie.title}}-{{movie.year}}</li>      
      {% endfor %}
    </ul>
    <img src="{{url_for('static',filename='images/totoro.gif')}}" alt="Walking Totoro" class="totoro">
    <footer>
      <small>&copy;2019 <a href="https://github.meiyujack">meiyujack</a></small>
    </footer>
  </body>
</html>
